<% provide(:title, 'Forecast') %>
<div id="landing">
  <h1>StepOutside</h1>
  <h3 class="text-center">Weekly forecast</h3>
</div>
<div class="row">
  <div class="col-sm-offset-3 col-sm-6" id="searchdiv">
    <span class="glyphicon glyphicon-search" id="go"></span>
     <input type="search" name="location" id="forecastsearch" placeholder="Search for any city..." autocomplete="off" autofocus="autofocus">
  </div>
  <div class="col-xs-11 col-sm-5 fcard" id="locationcard">
    Location
    <strong><span id="location"> &nbsp; </span></strong>
  </div>
</div>
<div class="info text-center"><p><small><em>Just begin typing to select your city</em></small></p></div>
<div class="row text-center">
  <div class="col-sm-offset-5 col-sm-2 hidden-xs">
    <%= image_tag "spinner.gif", :id => "spinner", :width => "100px" %>
  </div>
</div>

<div class="row" id="main">
<% for i in 0..7 %>
  <div class="col-md-5 text-right fcard" id="card<%= i %>">
    <h1 class="text-left"><span id="day<%= i %>"></span></h1>
      <div class="col-sm-6 text-center hidden-xs">
         <%= image_tag "icons/na.png", :id => "weather-img" + i.to_s, :class => "weather-img", :width => "75%" %>
      </div>
      <div class="text-left clearfix">
              Sunrise Time: <strong><span id="sunrise<%= i %>"></span></strong>
      <br>    Sunset Time: <strong><span id="sunset<%= i %>"></span></strong>
      <br>    Chance of Rain: <strong><span id="rainchance<%= i %>"></span></strong>
      <br>    Max Temperature: <strong><span id="maxtemperature<%= i %>"></span></strong>
      <br>    Min Temperature: <strong><span id="mintemperature<%= i %>"></span></strong>
      <br>    Humidity: <strong><span id="humidity<%= i %>"></span></strong>
      </div>
    <div class="row">
      <div class="col-xs-12 text-left">
        <br>
        Summary: <strong><span id="summary<%= i %>"></span></strong>
      </div>
    </div>
  </div>

<% end -%>
</div>